/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

nav {
	display: flex;
}


.links {
	display: flex;
	width: 70%;
	color: grey;
	justify-content: space-evenly;
}

.links a {
}

.logo-nav {
	width: 15%;
	text-align: center;
}

header {
	display: flex;
	margin-top: 2%;
}

.header-left {
	width: 50%;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-header {
	width: 50%;
	display: flex;
    justify-content: center;
}

h1 {
	font-size: 75px;
	text-align: center;
}

button {
	font-size: 25px;
    padding: 5px 25px;
    display: list-item;
}

.top-content{
	display: flex;
	justify-content: center;
}

.features{
	width: 35%;
	margin: 2%;
}

.about{
	width: 35%;
	margin: 2%;
}

.middle-img {
	display: flex;
    justify-content: flex-end;
	width: 80%;
}

.bottom-content {
	display: flex;
	justify-content: center;
}

.services{
	width: 25%;
	padding: 4%;
}

.product {
	width: 25%;
	padding: 4%;
}

.vision {
	width: 25%;
	padding: 4%;
}

.contact-div {
	width: 140px;
	margin-left: 16%;
	
}

footer {
	display: flex;
	justify-content: center;
	margin: 5%;
}

.footer {
	height: 100px;
	width: 200px;
}

/*Begin Styles for Services.html page*/

#services-header {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.header-img {
	text-align: center;
}

.header-content h1 {
	text-align: left;
}

#section-one {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row-1{
	display: flex;
}

.row-2 {
	display: flex;
}

.row-3 {
	display: flex;
}
.design {
	height: 200px;
	width: 400px;
	border: 1px solid black;
}

.ux {
	height: 200px;
	width: 400px;
	border: 1px solid black;	
}

.marketing {
	height: 200px;
	width: 400px;
	border: 1px solid black;
}

.development {
	height: 200px;
	width: 400px;
	border: 1px solid black;
}

.ios {
	height: 200px;
	width: 400px;
	border: 1px solid black;
}

.android {
	height: 200px;
	width: 400px;
	border: 1px solid black;
}